:host {
  /* display: block; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sohne-Dreiviertelfett';
  src: url('../../global/fonts/Sohne-Dreiviertelfett.otf');
}

@font-face {
  font-family: 'Sohne-Buch';
  src: url('../../global/fonts/Sohne-Buch.otf');
}

@font-face {
  font-family: 'Sohne-Halbfett';
  src: url('../../global/fonts/Söhne-Halbfett.otf');
}

@font-face {
  font-family: 'Sohne-Kraftig';
  src: url('../../global/fonts/Sohne-Kraftig.otf');
}
