:host {
  display: inline;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sohne-Dreiviertelfett';
  src: url('../../global/fonts/Sohne-Dreiviertelfett.otf');
}

@font-face {
  font-family: 'Sohne-Buch';
  src: url('../../global/fonts/Sohne-Buch.otf');
}

.first-cell-border-top li:first-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.cell-border-top li:nth-child(n + 3) {
  border-top-width: 1px;
  border-top-style: solid;
}

.cell-border-left li:nth-child(2n) {
  border-left-width: 1px;
  border-left-style: solid;
}
