:host {
  /* display: block; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sohne-Dreiviertelfett";
  src: url("../../global/fonts/Sohne-Dreiviertelfett.otf");
}

@font-face {
  font-family: "Sohne-Buch";
  src: url("../../global/fonts/Sohne-Buch.otf");
}

@media (max-height: 59rem) {
  .hide-small-height {
    display: none;
  }
}
