:host {
  display: block;
}

.background-shape {
  background-image: url("data:image/svg+xml,%3Csvg width='869' height='838' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 21.154c113.206-55.67 209.084 15.03 261.5 63.533 52.417 48.502 584.832 754.224 584.832 754.224L-3.123 858.318-136.499 236s55.293-159.176 168.5-214.846z' fill='%23F5F7FA'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-y: 300px;
}

.router-outlet__overview {
  height: 590px;
}

.router-outlet__importance {
  min-height: 692px;
}

.router-outlet__compare {
  min-height: 634px;
  height: calc(100vh - 4rem);
}

.router-outlet__content {
  min-height: 634px;
}

@media (min-height: 640px) {
  .router-outlet__overview {
    min-height: auto;
    max-height: calc(100vh - 4rem);
    height: auto;
  }

  .router-outlet__importance {
    min-height: auto;
    max-height: calc(100vh - 4rem);
    height: auto;
  }

  .router-outlet__compare {
    min-height: auto;
    max-height: calc(100vh - 4rem);
    height: auto;
  }

  .router-outlet__content {
    min-height: auto;
    max-height: calc(100vh - 4rem);
    height: auto;
  }
}
