:host {
  display: inline;
}

.size-inherit {
  width: inherit;
  height: inherit;
}

.eye {
  width: 17px;
  height: 9px;
}

.comment {
  width: 28px;
  height: 23px;
}

.close {
  width: 16px;
  height: 16px;
}

.close-circle {
  width: 30px;
  height: 29px;
}

.check-circle {
  width: 18px;
  height: 18px;
}
.times-circle {
  width: 18px;
  height: 18px;
}

.clock {
  width: 32px;
  height: 32px;
}

.ink-pen {
  width: 32px;
  height: 32px;
}

.arrow-down {
  width: 13px;
  height: 6px;
}

.question-circle {
  width: 34px;
  height: 34px;
}

.eye-large {
  width: 34px;
  height: 19px;
}

.blockchain {
  width: 33px;
  height: 34px;
}

.accessibility {
  width: 30px;
  height: 30px;
}

.hamburger {
  width: 24px;
  height: 24px;
}

.hamburger-close {
  width: 24px;
  height: 24px;
}

.arrow-right {
  width: 17px;
  height: 12px;
}

.dots {
  width: 5px;
  height: 25px;
}

.check-ring {
  width: 44px;
  height: 48px;
}

.check {
  width: 13px;
  height: 18px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sohne-Dreiviertelfett';
  src: url('../../global/fonts/Sohne-Dreiviertelfett.otf');
}

@font-face {
  font-family: 'Sohne-Buch';
  src: url('../../global/fonts/Sohne-Buch.otf');
}
